<!DOCTYPE html>
<html>
<head>
    <title>Article View</title>
</head>
<body>
<div id = "body-container">
    <div id = "mainDisplay">
        <h1>display section</h1>

    </div>
    <div id = "sideTools">
        <div id = "emailList">

        </div>
        <div id = "comments">

        </div>
    </div>
</div>


</body>
</html>