<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<h1>Successful Redirect</h1>
<body>

 <div hidden>
<% @temp = params[:id] %>
 </div>
<% @email_subs_per_list = @temp %>
<% @email_subs_per_list.inspect %>
<br>
<br>



<%= link_to 'Article Display', article_display_path %>

</body>

</html>