<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<h1>Successful Redirect</h1>
<body>
<%# @checked_arr.each do |list| %>
<%#= list.inspect %>
 <%# end %>
</body>
<p>hey</p>
<%= params[:id] %>
<script>
alert(@checked_arr_permanent);

</script>
</html>