<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
<script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('kBzeIKEv2OtFoZXrRwTrF1MX8KeT38kr', 'bretzsam.auth0.com');
  lock.on("authenticated", function(authResult) {
    lock.getProfile(authResult.idToken, function(error, profile) {
      if (error) {
        return;
      }
    localStorage.setItem('idToken', authResult.idToken);
    localStorage.setItem('profile', JSON.stringify(profile));
    });
  });

document.getElementById('btn-login').addEventListener('click', function() {
  lock.show();
});















  //   auth: {
  //     redirectUrl: 'http://45.55.129.215:3000/auth0/show',

  //     responseType: 'code',
  //     params: {
  //       scope: 'openid name picture email' // Learn about scopes: https://auth0.com/docs/scopes
  //     }
  //   }
  // });
</script>
<button id="btn-login">Login</button>

</body>
</html>