<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
<%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>

<script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock(
   'kBzeIKEv2OtFoZXrRwTrF1MX8KeT38kr',
   'bretzsam.auth0.com',
   'options'
   );
  lock.on("authenticated", function(authResult) {
    lock.getProfile(authResult.idToken, function(error, profile) {


    sessionStorage.setItem('profile', JSON.stringify(profile));
    document.getElementById("result").innerHTML = sessionStorage.getItem("profile");
    callback_path: '/auth0/show'
    });
  });


</script>
<button onclick="lock.show()">Login</button>
<label id = 'result'></label>
</body>
</html>